.uppercontainer {
    color: black;
}

.uppersubcontainer {
    margin: 2rem 4rem;
}

.card_container {
    background-color: white;
    color: black;
    border-radius: 0.5rem;
    text-decoration: none;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    width: 90vw;
    padding: 2rem;
    display: flex;
    justify-content: space-between;
}

.profilepictureRita {
    margin-bottom: 2rem;
    margin-top: 2rem;
    border-radius: 50%;
    width: 12rem;
}


.card_container_challenge {
    background-color: white;
    color: black;
    border-radius: 0.5rem;
    display: flex;
    text-decoration: none;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    width: 30rem;
    padding: 2rem;
    height: 6rem;
    margin: 2rem;
}

.text_person {
    composes: App-body from "../styles/App.css";
    width: 30rem;
    padding: 0 2rem;
}

.info_musicname {
    composes: App-body from "../styles/App.css";
    opacity: 0.3;
}

.buttonInfo {
    margin-top: 2rem;
    margin-left: 2rem;
}


.containerGlobal {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info_person_container {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 1rem;
}

.info_icon {
    padding-right: 2rem;
}

.info_icon__music {
    padding-right: 2rem;
    padding-left: 0.5rem;
}

.info_icon__teamcaptain {
    padding-right: 1.7rem;
}


.tweedebutton {
    composes: App-button_secundair from "../styles/App.css";

}

.eerstebutton {

    composes: App-button_secundair-outline from "../styles/App.css"
}


.navlink_top {
    margin-bottom: 2rem;
    color: var(--pink-primair);
    font-style: italic;
    font-size: .9rem;
    font-family: 'poppinsbold';
    width: 100%;
}


.section2 {
    margin-top: 6rem;
}

.section3 {
    margin-top: 6rem;
}


.subtitle {
    margin-top: -1.5rem;
    composes: App-subtitle from "../styles/App.css";
}

.supporterContainer {
    display: flex;
    margin-top: 3rem;
    margin-right: 9rem;

}

.supporterContainer_challenge {
    display: flex;
}

.bold {
    composes: App-body from "../styles/App.css";
    margin-top: 1.8rem;
    font-family: 'poppinsbold';
    font-size: 1.5rem;
    margin-bottom: 0.2rem;
}

.bold2 {
    composes: App-body from "../styles/App.css";
    font-family: 'poppinsbold';
    font-size: 1.5rem;
    margin-top: 0.8rem;
    margin-bottom: 0.2rem;
}

.h2hierzo {
    composes: App-h1-primaircolor from "../styles/App.css";
}

.containertext {
    margin-left: 1rem;
}

.containertext_supporter {
    margin-left: 1rem;
    width: 12rem;
}

.cursief {
    composes: App-body from "../styles/App.css";
    opacity: 0.6;
    font-size: 0.8rem;
    font-style: italic;
}

.barcontainer {
    display: flex;
    margin-top: 1rem;
}


.containerChallenges {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


.progress_aantal {
    font-size: 1rem;
    opacity: 0.3;
    margin-left: 1rem;
    margin-top: 0.1rem;
    
}


.pinkcheckbox {
    font-size: 1rem;
    color: var(--pink-primair);
    margin-left: 1rem;
    margin-top: 0.2rem;
}


.imgChallenge {
    width: 3rem; 
    margin-top: -1rem;
    margin-right: 1rem;
}


.fotocontainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 2rem;
    margin-left: 2rem;
}

.numberrr {
    composes: App-h1-number-primaircolor from "../styles/App.css"
}

.hashtag {
    font-family: 'poppinsextrabold_italic';
    color: var(--brown-title);
    margin-left: 2rem;
    margin-bottom: 1rem;
}

.hashtag_textfield {
    margin-left: 2rem;
    width: 20rem;
}


.textfieldBig_container {
    margin-top: 2rem;
}


.buttonContainer_bewerken {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}






@media (max-width: 1200px) {
    .profilepictureRita {
      display: none;
    }
}

@media (max-width: 1020px) {
    .card_container  {
        display: flex;
        flex-direction: column;
        align-items: center;
    }


    .card_extraInfo {
        margin-top: 3rem;
    }
}

@media (max-width: 650px) {
    .map_map {
      width: 90vw;
    }
/* 
    .navlink_top {
        margin-left: 2rem;
    } */


    .subtitle {
        text-align: center;
    }

    .eerstebutton {
        width: 60vw;
        margin: 0rem;
    }

    .h2hierzo {
        composes: App-h1-primaircolor from "../styles/App.css";
        text-align: center;
    } 

    .numberrr {
        display: none;
    }


    .buttonInfo {
        display: flex;
        flex-direction: column;
        width: 80vw;
        align-items: center;
    }

    .section3 {
        display: none;
    }

    .uppersubcontainer {
        margin: 0 auto;
    }

    .card_container {
        padding: 0;
    }

    .containerGlobal {
        display: flex;
    }

    .card_container {
        display: flex;
        flex-direction: column;
        align-items: cen;
    }


    .buttonGigacontianer {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .text_person {
        text-align: center;
        max-width: 15rem;
    }


    .hashtag {
        text-align: center;
        padding-top: 2rem;
    }

    .tweedebutton {
        width: 55vw;
        margin-top: 2rem;
        text-align: center;
        padding-top: 0.5rem;
        padding-bottom: 0rem;
        align-items: center;
        padding: 1rem;
        line-height: 1.6rem;
    }    



}