.race {
    text-decoration: none;
}

.navlink {
    text-decoration: none;
}

.h1 {
    composes: App-h1 from "../styles/App.css";
    margin-top: 2rem;
    text-align: center;  
}

.race_container {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    flex-wrap: wrap;
}


.search {
    composes: App-input_container from "../styles/App.css"
}


@media (min-width: 563px){
    .search{
      margin-top: -3rem;
    }
  }