

.race_textcontainer{
    margin: 0.5rem;
}




.race_city{
    color: #83344E;
    text-decoration: none;
}


.race_country {
    color: #83344E;
    opacity: 0.5;
    text-decoration: none;
    font-size: 1rem;
}

.race_quantity {
    composes: App-subtitle from "../styles/App.css";
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.race_quantity__teams {
    display: flex;
}

.race_quantity__people {

}

.race_date {
    background-color: #E6618F;
    display: flex;
    color: white;
    padding: 0.9rem;
    width:3rem;
    height: 4rem;
    flex-direction: column;
    align-items: center;
}


.month {
    font-size: 1rem;
    opacity: 0.6;
    padding: 0.3rem;
}

.date {
    font-family: 'poppinsbold';
}