@import "./typo.module.css";

.App {
  text-align: center;
}

.App-logo {
  height: 10vmin;
  pointer-events: none;
  padding: 1rem;
}

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
    //transition: background-image 4s;
  }
} */

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.App-button_primair {
  font-family: "poppinsextrabold_italic";
  padding: 14px 32px;
  background-image: linear-gradient(60deg, #FF6D9E, #F980B3);
  border: none;
  color: white;
  font-size: 1rem;
  border-radius: 0.5rem;
  box-shadow: 0rem 0.2rem 0.7rem rgba(248, 128, 178, .5);
  margin: 1rem;
  transition: background-image 0.5s;
  cursor: pointer;
}

.App-button_primair:focus {
  outline: none;
}

.App-button_primair:hover {
  box-shadow: 0rem 0.2rem 0.7rem rgba(248, 128, 178, .2);
  transform: scale(1.1);
  transition: transform ease-in-out 0.2s;
}


.App-input_search {
  width: 80vw;
  display: flex;
  border: none;
  border-radius: 20rem;
  padding: 0.6rem;
  padding-left: 0.8rem;
  margin: 2rem;
}

.App-input_search:focus {
  outline: none;
}

.App-input_container {
  display: flex;
  justify-content: center;
}

.App-input_search__button {
  height: 2rem;
  background-color: #E6618F;
  border: none;
  margin-right:4rem;
  margin-top: 2rem;
  margin-left: -4rem;
  width: 3rem;
  border-radius: 0 1rem 1rem 1rem;
  transition: 0.2s
}

.App-input_search__button:focus {
outline: none;
}

.App-input_search__button:hover {
  background-color: #D03971;
}


/* .button {
  background-image: linear-gradient(78deg, #46bdff 0%, #1379ff 100%);
  padding: 1rem 3rem;
  font-size: 1.6rem;
  border-radius: 0.4rem;
  border: none;
  color: white;

  height: 4rem;
  width: 15rem;
  cursor: pointer;
}

.button:hover {
  transform: scale(1.1);
  transition: transform ease-in 60ms;
} */

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
