@import "./reset.css";
@import "./typo.module.css";

body {
  margin: 0;
  font-family: "poppinsregular";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@custom-media --xs screen and (min-width: 0);
@custom-media --sm screen and (min-width: 20em);
 